<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../static/success.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../static/footer.css" type="text/css" media="screen" />
<title>Untitled Document</title>
</head>

<body>
<header>
    	<nav>
        	<ul>
                <li>
		            <a href="/listEvent">Event</a>
                </li>
                <li>
        	     	<a href="/listCommunity">Community</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
          	</ul>      
        </nav>
    </header>