{% include "header.html" %}
    <main>
    <center>
   	  <h1>Sub Admins</h1>
      <form method="post">
      	  <div class="error">{{error}}</div>
          <table width="765" border="1">
            <thead>
              <tr>
                <th>Username</th>
                <th>Full Name</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
          	{% for sa in sadmins %}
		      <tr>
		      	<td align="center">{{ sa.username }}</td>
		      	<td align="center">{{ sa.name }}</td>
		      	<td align="center"><a href = "/deletesubadmin?q={{sa.key().id()}}">Update</a></td>
		      <tr>
		     {% endfor %}
		     </tbody> 
          </table>
      </form>
      </center>
      <p>&nbsp;</p>
    </main>