<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../static/style.css" type="text/css" media="screen" />
  </head>

  <body>    
    <div id="wrapper">
      <div id="header">
        </div>
        <div id="content">
        	<form method="post">
                <table width="417" border="0">
                  <tr>
                    <td width="99"><b>Username</b></td>
                    <td width="277"><input type="text" class="textbox" name="username" id="username" /></td>
                    <td width="27">&nbsp;</td>
                  </tr>
                  <tr>
                    <td><b>Password</b></td>
                    <td><input type="password" class="textbox" name="password" id="password" /></td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td><input type="submit" name="submit" class="myButton" id="submit" /></td>
                    <td>&nbsp;</td>
                  </tr>
                </table>               
            </form>
        </div>
        <div id="footer">        
        </div>
      </div>
	</body>

</html>
