{% include "header.html" %}
    <main>
    <center>
   	  <h1>Update Password</h1>
      <form method="post">
      	  <div class="error">{{error}}</div>
          <table width="765" border="0">
            <tr>
              <td width="166" height="34">Old Password</td>
              <td width="518">
                <input type="password" name="old_password" id="old_password" class="textbox" value = '{{old_password}}'  />
              </td>
              <td width="23">&nbsp;</td>
            </tr>
            <tr>
              <td width="166" height="34">New Password</td>
              <td width="518">
                <input type="password" name="new_password" id="new_password" class="textbox" value = '{{new_password}}'  />
              </td>
              <td width="23">&nbsp;</td>
            </tr>
            <tr>
              <td width="166" height="34">Confirm Password</td>
              <td width="518">
                <input type="password" name="cfm_password" id="cfm_password" class="textbox" value = '{{cfm_password}}'  />
              </td>
              <td width="23">&nbsp;</td>
            </tr>
            <tr>
              <td height="36">&nbsp;</td>
              <td><center><input type="submit" name="submit" id="submit" class="myButton" /></center></td>
              <td>&nbsp;</td>
            </tr>
          </table>
      </form>
      </center>
      <p>&nbsp;</p>
    </main>